* {
    --bg0_h: #1d2021;
    --bg0_s: #32302f;
    
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;
    
    --gray: #928374;
    
    --red-light: #fb4934;
    --red-dark: #cc241d;
    
    --orange-light: #fe8019;
    --orange-dark: #d65d0e;
    
    --yellow-light: #fabd2f;
    --yellow-dark: #d79921;
    
    --green-light: #b8bb26;
    --green-dark: #f3f315;
    
    --aqua-light: #8ec07c;
    --aqua-dark: #689d6a;
    
    --blue-light: #83a598;
    --blue-dark: #458588;
    
    --purple-light: #d3869b;
    --purple-dark: #b16286;


}