<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Steam Parser</title> 
        <link rel="stylesheet" href="static/colors.css">
        <link rel="stylesheet" href="static/root/style.css">
        </head> 
        <body> 
            <div class="area" >
                    <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                    </ul>
                    <div class="context">
                        <div class="container"> 
                            <h1>Welcome</h1> 
                            <h2>Register or Log in</h2>
                            <input type="text" id="inputText" placeholder="input steam url"> 
                            <button onclick="sendPostRequest()">Start</button> 
                        </div> 
                    </div>
            </div >
        </body> 
        <script src="static/root/root.js"></script>
</html>